<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Camlink3_1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Camlink3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <userSettings>
    <Camlink3_1.Properties.Settings>
      <setting name="symFolder" serializeAs="String">
        <value>C:\Sym Files\</value>
      </setting>
      <setting name="extensionFolder" serializeAs="String">
        <value>C:\ProgramData\Autodesk\Vault 2016\Extensions\Camlink3.1\</value>
      </setting>
      <setting name="radanProject" serializeAs="String">
        <value>C:\Radan\Projects\2014-12-22\2014-12-22.rpd</value>
      </setting>
      <setting name="symFolder2" serializeAs="String">
        <value/>
      </setting>
      <setting name="useSecondarySymLocation" serializeAs="String">
        <value>yes</value>
      </setting>
    </Camlink3_1.Properties.Settings>
    <Camlink3.Properties.Settings>
      <setting name="symFolder" serializeAs="String">
        <value>\\Cutter-hp\radan\Vault SYM files\</value>
      </setting>
      <setting name="extensionFolder" serializeAs="String">
        <value>C:\ProgramData\Autodesk\Vault 2014\Extensions\Camlink3\</value>
      </setting>
      <setting name="radanProject" serializeAs="String">
        <value>C:\Radan\Projects\2014-12-22\2014-12-22.rpd</value>
      </setting>
    </Camlink3.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autodesk.Connectivity.Explorer.Extensibility" publicKeyToken="aa20f34aedd220e1" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-24.0.0.0" newVersion="24.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autodesk.DataManagement.Client.Framework.Vault" publicKeyToken="aa20f34aedd220e1" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-24.0.0.0" newVersion="24.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autodesk.Connectivity.Extensibility.Framework" publicKeyToken="aa20f34aedd220e1" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-24.0.0.0" newVersion="24.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autodesk.DataManagement.Client.Framework.Forms" publicKeyToken="aa20f34aedd220e1" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-24.0.0.0" newVersion="24.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autodesk.Connectivity.WebServices" publicKeyToken="aa20f34aedd220e1" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-24.0.0.0" newVersion="24.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
