<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Camlink3_1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Camlink3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <userSettings>
    <Camlink3_1.Properties.Settings>
      <setting name="symFolder" serializeAs="String">
        <value>C:\Sym Files\</value>
      </setting>
      <setting name="extensionFolder" serializeAs="String">
        <value>C:\ProgramData\Autodesk\Vault 2016\Extensions\Camlink3.1\</value>
      </setting>
      <setting name="radanProject" serializeAs="String">
        <value>C:\Radan\Projects\2014-12-22\2014-12-22.rpd</value>
      </setting>
      <setting name="symFolder2" serializeAs="String">
        <value />
      </setting>
      <setting name="useSecondarySymLocation" serializeAs="String">
        <value>yes</value>
      </setting>
    </Camlink3_1.Properties.Settings>
    <Camlink3.Properties.Settings>
      <setting name="symFolder" serializeAs="String">
        <value>\\Cutter-hp\radan\Vault SYM files\</value>
      </setting>
      <setting name="extensionFolder" serializeAs="String">
        <value>C:\ProgramData\Autodesk\Vault 2014\Extensions\Camlink3\</value>
      </setting>
      <setting name="radanProject" serializeAs="String">
        <value>C:\Radan\Projects\2014-12-22\2014-12-22.rpd</value>
      </setting>
    </Camlink3.Properties.Settings>
  </userSettings>
</configuration>
