<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectivity.ExtensionSettings3>
    <extension
      interface="Autodesk.Connectivity.JobProcessor.Extensibility.IJobHandler, Autodesk.Connectivity.JobProcessor.Extensibility, Version=25.0.0.0, Culture=neutral, PublicKeyToken=215b0879a7566597"
      type="JobProcessorPrintPDF.PrintPDFHandler, JobProcessorPrintPDF">
      <setting key="JobType1" value="Horst.File.PrintPDF"/>
    </extension>
  </connectivity.ExtensionSettings3>
</configuration>