<configuration>
  <connectivity.ExtensionSettings3>
    <extension
      interface="Autodesk.Connectivity.Explorer.Extensibility.IExplorerExtension, Autodesk.Connectivity.Explorer.Extensibility, Version=29.0.0.0, Culture=neutral, PublicKeyToken=215b0879a7566597"
      type="ItemExport.ItemExportCommandExtension, ItemExport">
    </extension>
  </connectivity.ExtensionSettings3>
</configuration>

